*.log
*.sqlite
*.sqlite3
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
.auth.json
/coverage
/.fleet
/.idea
/.nova
/.vscode/
/.zed/
/node_modules
/public/build
/public/hot
/public/storage
/public/uploads/private/
/storage/*.key
/storage/app/private/
/storage/logs/
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
